<main class="main">
  <div class="inner">
    <div class="form__tweet">
      <div class="tweet__wrapper">
        <p class="tweet__hedding">
          <%= @tweet.spot%>
        </p>
        <p class="tweet__area">
          <%= "( #{@tweet.area.name} )"%>
        </p>
        <div class="tweet__image">
          <%= image_tag @tweet.image %>
        </div>
        <% if user_signed_in? && current_user.id == @tweet.user_id %>
          <div class="tweet__manage">
            <%= link_to "編集する", edit_tweet_path(@tweet.id), class: :tweet__btn %>
            <%= link_to "削除する", tweet_path(@tweet.id), method: :delete, class: :tweet__btn %>
          </div>
        <% end %>
        <% if user_signed_in? %>
          <% if @tweet.favorited_by?(current_user) %> <!-- ログインしているユーザーがいいねしたかどうかで分岐 -->
            <p><span>いいね解除: </span><%=link_to @tweet.favorites.count, tweet_favorites_path(@tweet.id), method: :delete %></p>
          <% else %>
            <p><span>いいね: </span><%=link_to @tweet.favorites.count, tweet_favorites_path(@tweet.id), method: :post %></p>
          <% end %>
        <% else %>
          <p><span>いいね数: </span><%= @tweet.favorites.count %></p>
        <% end %>
        <div class="tweet__detail">
            <p class="detail__title">〜投稿者〜</p>
            <%= link_to @tweet.user.nickname, user_path(@tweet.user_id), class: :tweet__user %>
          </div>
          <div class="tweet__detail">
            <p class="detail__title">〜コメント〜</p>
            <p class="detail__message">
              <%= @tweet.comment %>
            </p>
          </div>
          <div class="tweet__detail">
            <p class="detail__title">〜アドバイス〜</p>
            <p class="detail__message">
              <%= @tweet.advice %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
